{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{% trans "Sign In" %}</h3>
                            </div>
                            <div class="card-body">

                                <form method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %}
                                    {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                        value="{{ redirect_field_value }}" />
                                    {% endif %}

                                    <!-- Custom username field -->
                                    <!-- Custom username field -->
                                    {% with login_field=form.login %}
                                    <div class="form-floating mb-3">
                                        <input type="text" name="{{ login_field.name }}"
                                            placeholder="{{ login_field.label }}" autocomplete="username"
                                            maxlength="{{ login_field.field.max_length }}" required
                                            id="{{ login_field.auto_id }}"
                                            class="form-control {% if form.non_field_errors %}is-invalid{% endif %}"
                                            {% if login_field.value %} value="{{ login_field.value }}" {% endif %}>
                                        <label for="{{ login_field.auto_id }}">{{ login_field.label }}</label>
                                        {% if form.non_field_errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.non_field_errors %}
                                            {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div class="valid-feedback">
                                            {% trans "Looks good!" %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endwith %}


                                    <!-- Custom password field -->
                                    {% with password_field=form.password %}
                                    <div class="form-floating mb-3">
                                        <input type="password" name="{{ password_field.name }}"
                                            placeholder="{{ password_field.label }}" autocomplete="current-password"
                                            maxlength="{{ password_field.field.max_length }}" required
                                            id="{{ password_field.auto_id }}" class="form-control"
                                            {% if password_field.value %} value="{{ password_field.value }}"
                                            {% endif %}>
                                        <label for="{{ password_field.auto_id }}">{{ password_field.label }}</label>
                                    </div>
                                    {% endwith %}


                                    <!-- Remember password checkbox -->
                                    {% with remember_field=form.remember%}
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" id="{{ remember_fieldauto_id }}" type="checkbox"
                                            name="{{ remember_field.name }}" {% if remember_field.value %} checked
                                            {% endif %}>
                                        <label class="form-check-label"
                                            for="{{ remember_field.auto_id }}">{{ remember_field.label }}</label>
                                    </div>
                                    {% endwith %}

                                    <!-- Submit button -->
                                    <div class="col-12 text-center">
                                        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                                    </div>
                                </form>

                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small">
                                    <p>{% blocktrans %}If you have not created an account yet, then please
                                        <a href="{{ signup_url }}">sign up now</a> first.{% endblocktrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}