{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<body class="sb-nav-fixed">
  <div id="layoutSidenav_content">
    <main>
      <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-xl-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3>{% trans "Sign Out" %}</h3>
                {% trans 'Are you sure you want to sign out?' %}
                <div class="text-center my-2">
                  <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-warning m-2">{% trans 'Sign Out' %}</button>
                    <a href="{% url 'account_login' %}" class="btn btn-success m-2">Return</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </main>
  </div>
  </div>

  {% endblock %}