* {
    color: #333333;
}

/* Vote Card */
#description {
    min-height: 190px;
    text-align: justify;
}

#description-single{
    min-height: 120px;
    text-align: justify;
}

.card-footer {
    background-color: #34495e;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.card-footer:hover {
    background-color: #f7f7f7;
    color: #333333;
    transition: 0.3s;
}

.quote {
    background-color: #34495e;
}

.see-more {
    border: 1px solid #dadada;
    color: #333333;
}

/* Single Card */

.card-header-green{
    background-color: #2D4F2F;
    color: white;
}
.card-header-red{
    background-color: #763135;
    color: white;
}

/* Buttons */

.btn-main-blue {
    background-color: #34495e;
    border: 1px solid #dadada;
    color: white;
    transition: 0.3s;
}

.btn-main-blue:hover {
    border: 1px solid #dadada;
    color: #333333;
    transition: 0.3s;
}