/* Local Google Fonts */

@font-face {
    font-family: "Fairplay";
    src: url("../../font/playfair_display/PlayfairDisplay-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../font/roboto/Roboto-Regular.ttf");
    font-display: swap;
}

/* General */

* {
    font-family: 'Roboto', Fairplay, sans-serif;
}

h1 {
    font-family: 'Fairplay', Roboto, sans-serif;
}

.fairplay-font {
    font-family: 'Fairplay', Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}

/* Vote Card */
.card-body-height {
    min-height: 300px;
}

#description {
    min-height: 190px;
    text-align: justify;
}

#description-single {
    min-height: 100px;
    text-align: justify;
}

.card-footer {
    background-color: #34495e;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.card-footer:hover {
    background-color: #f7f7f7;
    color: #333333;
    transition: 0.3s;
}

.quote {
    background-color: #34495e;
}

.see-more {
    border: 1px solid #dadada;
    color: #333333;
}

.progress {
    height: 27px;
    border-radius: 15px;
}

.progress-bar {
    background-color: #34495E;
}

.progress-container {
    width: 40%;
}

/* Single Card */

.card-header-green {
    background-color: #2D4F2F;
    color: white;
}

.card-header-red {
    background-color: #763135;
    color: white;
}

.card-header-blue {
    background-color: #34495e;
    color: white;
}


input {
    border: none;
}

.list-group {
    border-radius: 0;
}

/* Buttons */

.btn-close{
    filter: invert(1);
}

.btn-main-blue {
    background-color: #34495e;
    border: 1px solid #dadada;
    color: white;
    transition: 0.3s;
}

.btn-main-blue:hover {
    border: 1px solid #dadada;
    color: #333333;
    transition: 0.3s;
}

.btn-primary-blue {
    background-color: #34495e;
    color: white;
    transition: 0.3s;

}

.btn-primary-blue:hover {
    transition: 0.3s;
    border: 1px solid #dadada;
}

/* FAQ */

.btn-primary-blue-faq {
    border-radius: 5px 5px 0 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dadada;
    text-align: left;
}

.btn-primary-blue-faq:hover {
    background-color: #34495e;
    color: white;
}


/* User & Admin Dashboard colors */

/* Footer */
i {
    color: #34495e;
}

.footer-bg {
    background-color: rgba(0, 0, 0, 0.05);
}