{% extends "backend/admin-dashboard/base.html" %}
{% load i18n %}
{% block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-5">
            <h1 class="mt-4">Event Creation</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Create a voting event</li>
            </ol>
            {% if request.user.role == 0 %}
            <div class="alert alert-warning text-center" role="alert">
                In order to create a Voting Event you need to be an admin.
            </div>
            {% elif request.user.role == 2%}
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-xl-6 col-md-12 d-inline-block">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="errors">{{ form.non_field_errors }}</div>
                        {% endif %}
                        <hr />
                        <!-- Author -->
                        <div class="mb-3">
                            <label class="form-label"><strong>{{ form.author.label }} ID</strong></label>
                            <input type="text" class="form-control bg-light bg-gradient"
                                value="{{ request.user.username }}" readonly>
                            <input type="hidden" name="{{ form.author.name }}" class="form-control bg-light bg-gradient"
                                value="{{ form.author.value }}" id="{{ form.author.id_for_label }}" readonly>

                            {% if form.author.errors %}
                            <div class="errors">{{ form.author.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.author.help_text }}</div>
                        </div>
                        <hr />
                        <!-- Title  -->
                        <div class="mb-3">
                            <label for="{{ form.title.id_for_label }}"
                                class="form-label"><strong>{{ form.title.label }}</strong></label>
                            <input type="text" name="{{ form.title.name }}" class="form-control"
                                id="{{ form.title.id_for_label }}" value="{{ form.title.value|default:'' }}" required>
                            {% if form.title.errors %}
                            <div class="errors">{{ form.title.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.title.help_text }}</div>
                        </div>


                        <!-- Category -->
                        <div class="mb-3">
                            <label for="{{ form.category.id_for_label }}"
                                class="form-label"><strong>{{ form.category.label }}</strong></label>
                            {{ form.category }}
                            {% if form.category.errors %}
                            <div class="errors">{{ form.category.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.category.help_text }}</div>
                        </div>

                        <!-- Status -->
                        <div class="mb-3">
                            <label for="{{ form.status.id_for_label }}"
                                class="form-label"><strong>{{ form.status.label }}</strong></label>
                            {{ form.status }}
                            {% if form.status.errors %}
                            <div class="errors">{{ form.status.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.status.help_text }}</div>
                        </div>

                        <!-- Type -->
                        <div class="mb-3">
                            <label for="{{ form.type.id_for_label }}"
                                class="form-label"><strong>{{ form.type.label }}</strong></label>
                            {{ form.type }}
                            {% if form.type.errors %}
                            <div class="errors">{{ form.type.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.type.help_text }}</div>
                        </div>

                        <!-- Mission -->
                        <div class="mb-3">
                            <label for="{{ form.mission.id_for_label }}"
                                class="form-label"><strong>{{ form.mission.label }}</strong></label>
                            <input type="text" name="{{ form.mission.name }}" class="form-control"
                                id="{{ form.mission.id_for_label }}" value="{{ form.mission.value|default:'' }}"
                                required>
                            {% if form.mission.errors %}
                            <div class="errors">{{ form.mission.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.mission.help_text }}</div>
                        </div>

                        <!-- Location -->
                        <div class="mb-3">
                            <label for="{{ form.location.id_for_label }}"
                                class="form-label"><strong>{{ form.location.label }}</strong></label>
                            <input type="text" name="{{ form.location.name }}" class="form-control"
                                id="{{ form.location.id_for_label }}" value="{{ form.location.value|default:'' }}"
                                required>
                            {% if form.location.errors %}
                            <div class="errors">{{ form.location.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.location.help_text }}</div>
                        </div>

                        <!-- Description -->
                        <div class="mb-3">
                            <label for="{{ form.description.id_for_label }}"
                                class="form-label"><strong>{{ form.description.label }}</strong>
                                <small>(258 characters)</small>
                            </label>
                            <textarea name="{{ form.description.name }}" class="form-control"
                                id="{{ form.description.id_for_label }}" rows="4"
                                required>{{ form.description.value|default:'' }}</textarea>
                            {% if form.description.errors %}
                            <div class="errors">{{ form.description.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.description.help_text }}</div>
                        </div>

                        <!-- Expire -->
                        <div class="mb-3">
                            <label for="{{ form.expire.id_for_label }}"
                                class="form-label"><strong>{{ form.expire.label }}</strong></label>
                            <input type="date" name="{{ form.expire.name }}" class="form-control"
                                id="{{ form.expire.id_for_label }}" value="{{ form.expire.value|default:'' }}" required>
                            {% if form.expire.errors %}
                            <div class="errors">{{ form.expire.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.expire.help_text }}</div>
                        </div>

                        <!-- Image -->
                        <div class="mb-3">
                            <label for="{{ form.event_image.id_for_label }}"
                                class="form-label"><strong>{{ form.event_image.label }}</strong></label>
                            {{ form.event_image }}
                            {% if form.event_image.errors %}
                            <div class="errors">{{ form.event_image.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ form.event_image.help_text }}</div>
                            <small>File size cannot exceed 500 KB</small>
                        </div>
                        <hr />
                        <h3 class="text-center">Candidates</h3>
                        <div id="candidates-container">
                            {{ person_formset.management_form }}
                            {% for person_form in person_formset %}
                            <!-- content fetched from candidates.js -->
                            {% if person_form.name.errors %}
                            <div class="errors">{{ person_form.name.errors }}</div>
                            {% endif %}
                            <div class="form-text">{{ person_form.name.help_text }}</div>
                            {% endfor %}
                        </div>
                        <div class="row my-4 text-center">
                            <div class="col-12 d-inline-block">
                                <button type="button" id="add-candidate-btn" class="btn btn-primary-blue">Add
                                    Candidate</button>
                            </div>
                        </div>
                        <hr />
                        <div class="row my-4 text-center">
                            <div class="col-12 d-inline-block">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
</div>

{% endblock %}