{% extends "backend/admin-dashboard/base.html" %}
{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid p-4 pt-0">
            <h1 class="mt-4">Admin Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Welcome to your Admin Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Event History</div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a class="stretched-link" href="{% url 'admin_all_events' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Approval</div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a class="stretched-link" href="{% url 'admin_approval_list' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Verification</div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Vote History</div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a class="stretched-link" href="{% url 'admin_votes' %}"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Event Overview
                    <small> (Admin Created)</small>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Created On</th>
                                <th>Expire On</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Created On</th>
                                <th>Expire On</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for event in admin_dashboard.card_author.all %}
                            <tr>
                                <td>{{ event.title }}</td>
                                <td>{{ event.author }}</td>
                                <td>{{ event.category.category_name }}</td>
                                <td>{{ event.get_status_display }}</td>
                                <td>{{ event.location }}</td>
                                <td>{{ event.created_on }}</td>
                                {% if event.expire|date:"Y-m-d" == current_date %}
                                <td>{{ event.expire }}
                                    <small class="text-warning fw-semibold">(Today)</small>
                                </td>
                                {% elif event.expire|date:"Y-m-d" < current_date %}
                                <td>{{ event.expire }}
                                    <small class="text-danger fw-semibold">(Expired)</small>
                                </td>
                                {% else %}
                                <td>{{ event.expire }}
                                    <small class="text-success fw-semibold">(Active)</small>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock content %}