{% extends "backend/admin-dashboard/base.html" %}
{% load i18n %}
{% block content%}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid p-5">
            <h1 class="mt-4">Admin Settings</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Update your information or delete your account</li>
            </ol>

            <form class="row g-3 needs-validation" method="POST" action="{% url 'admin_settings' %}" novalidate>
                {% csrf_token %}
                {% if admin_settings.role == 2 %}
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">First name</label>
                    <input type="text" class="form-control" id="validationCustom01"
                        value="{{ admin_settings.first_name}}" name="first_name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="validationCustom02"
                        value="{{ admin_settings.last_name}}" name="last_name" required>

                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                {% endif %}
                <div class="col-md-4">
                    <label for="validationCustomUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" value="{{ admin_settings.username}}"
                            class="form-control bg-light bg-gradient" id="validationCustomUsername" name="username"
                            aria-describedby="inputGroupPrepend" required readonly>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom03" class="form-label">Email</label>
                    <input type="email" value="{{ admin_settings.email}}"
                        class="form-control {% if form.errors.email %}is-invalid{% endif %}" id="validationCustom03"
                        name="email" required>
                    {% if form.errors.email %}
                    <div class="invalid-feedback">
                        {% for error in form.errors.email %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="valid-feedback">
                        {% trans "Looks good!" %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <label for="validationCustom04" class="form-label">Role</label>
                    <input type="text" value="{{ admin_settings.get_role_display}}" name="role"
                        class="form-control bg-light bg-gradient" id="validationCustom04" required readonly>


                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationCustom05" class="form-label">Verified</label>
                    <input type="text"
                        value="{% if admin_settings.verified == 1 %} Verified {% else %} Not verified {% endif %}"
                        name="verified" class="form-control bg-light bg-gradient" id="validationCustom05" required
                        readonly>

                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-primary-blue" type="submit">Update Account</button>
                </div>

                <div class="col-12 text-center">
                    <a class="btn btn-primary-blue" href="{% url 'admin_change' %}">Change Password</a>
                </div>
            </form>
        </div>
    </main>
</div>

{% endblock %}