{% extends "base.html" %}

{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-0">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="https://images.unsplash.com/photo-1639322537231-2f206e06af84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80"
                alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">A Modern Voting System</h1>
            <p>Bridging the Best of Both Worlds. Merging the tried-and-true with the innovative, Musa's voting system
                prepares to harness blockchain's unparalleled security and transparency. Vote today, shape tomorrow.</p>
            <a class="btn btn-main-blue" href="https://github.com/plexoio/musa" target="_blank">Know More</a>
        </div>
    </div>

    <!-- Call to Action-->
    <div class="card text-white quote my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">"One of the penalties for refusing to participate in politics is that you end up
                being governed by your inferiors." — Plato</p>
        </div>
    </div>

    <!-- Campaign Row-->
    <div class="row gx-4 gx-lg-5">
        <p class="h1 text-center mb-5">Campaign</p>
        {% for card in home_page %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                {% if card.type == 1%}
                <div class="card-header card-header-blue text-center h4">{{ card.get_type_display}}</div>
                {% else %}
                <div class="card-header card-header-blue text-center h4">{{ card.get_type_display}}</div>
                {% endif %}
                <div class="card-body mt-3 mb-4 card-body-height">

                    <!-- Card image & Related Data -->
                    <div class="row mt-2">
                        <div class="col-4 d-inline-block">
                            {% if "placeholder" in card.event_image.url %}
                            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                alt="code institute" class="img-fluid img-thumbnail rounded float-start mx-2"
                                width="150" height="150">
                            {% else %}
                            <img src="{{ card.event_image.url }}" alt="card image"
                                class="img-fluid img-thumbnail rounded float-start mx-2" width="150" height="150">
                            {% endif %}
                        </div>

                        <div class="col-8 d-inline-block">
                            <span class="">
                                <h5 class="card-title">{{ card.title }}</h5>
                                <p class="mission my-0 fs-6"> {{ card.mission }}</p>
                                <small class="location my-0"> {{ card.location }}</small>
                            </span>
                        </div>
                    </div>

                    <!-- Card Description -->
                    <div id="description" class="row mt-3">
                        <div class="col">
                            <p class="mt-0 mb-4">
                                {{ card.description|safe }} <a href="{% url 'card_single' card.slug %}">Read More</a>
                            </p>
                        </div>
                    </div>

                    <!-- VOTES & PROGRESS BAR -->
                    <div class="text-center">
                        <span class="card d-inline-block">
                            <div class="card-body py-1 px-3 text-center">
                                <span class="card-text">{{ card.number_of_votes }}<br> Votes</span>
                            </div>
                        </span>
                        <span class="d-inline-block px-3 progress-container">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ card.progress }}%"
                                    aria-valuenow="{{ card.progress }}" aria-valuemin="0" aria-valuemax="100">
                                    <span style="padding-left: 10px;">{{ card.progress }}%</span>
                                </div>
                            </div>
                        </span>
                        <small>{{ card.time_left }} days left</small>
                    </div>
                </div>
                <a class="card-footer text-center fs-5" href="{% url 'card_single' card.slug %}">VOTE</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 text-center">
            <a href="{% url 'see_more' %}" class="btn btn-light see-more fs-5">See more</a>
        </div>
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <!-- Official Row-->
    <div class="row gx-4 gx-lg-5 mt-5">
        <p class="h1 text-center mb-5">Official</p>
        {% for official in official_vote_cards %}
        {% if official.type == 1 %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-header card-header-blue text-center h4">{{ official.get_type_display}}</div>
                <div class="card-body mt-3 mb-4 card-body-height">
                    <!-- Card image & Data -->
                    <div class="row mt-2">
                        <div class="col-4 d-inline-block">
                            {% if "placeholder" in official.event_image.url %}
                            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                alt="code institute" class="img-fluid img-thumbnail rounded float-start mx-2"
                                width="150" height="150">
                            {% else %}
                            <img src="{{ official.event_image.url }}" alt="card image"
                                class="img-fluid img-thumbnail rounded float-start mx-2" width="150" height="150">
                            {% endif %}
                        </div>
                        <div class="col-8 d-inline-block">
                            <span class="">
                                <h5 class="card-title">{{ official.title }}</h5>
                                <p class="mission my-0 fs-6"> {{ official.mission }}</p>
                                <small class="location my-0"> {{ official.location }}</small>
                            </span>
                        </div>
                    </div>
                    <!-- Card Description -->
                    <div id="description" class="row mt-3">
                        <div class="col">
                            <p class="mt-0 mb-4">
                                {{ official.description|safe }} <a href="{% url 'card_single' official.slug %}">Read
                                    More</a>
                            </p>
                        </div>
                    </div>
                    <!-- VOTES & PROGRESS BAR -->
                    <div class="text-center">
                        <span class="card d-inline-block">
                            <div class="card-body py-1 px-3 text-center">
                                <span class="card-text">{{ official.number_of_votes }}<br> Votes</span>
                            </div>
                        </span>
                        <span class="d-inline-block px-3 progress-container">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ official.progress }}%"
                                    aria-valuenow="{{ official.progress }}" aria-valuemin="0" aria-valuemax="100">
                                    <span style="padding-left: 10px;">{{ official.progress }}%</span>
                                </div>
                            </div>
                        </span>
                        <small>{{ official.time_left }} days left</small>
                    </div>
                </div>
                <a class="card-footer text-center fs-5" href="{% url 'card_single' official.slug %}">VOTE</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 text-center">
            <a href="{% url 'see_more_official' %}" class="btn btn-light see-more fs-5">See more</a>
        </div>
    </div>
    <div class="row">
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <!-- Community Row-->
    <div class="row gx-4 gx-lg-5 mt-5">
        <p class="h1 text-center mb-5">Community</p>
        {% for card in community_vote_cards %}
        {% if card.type == 0 %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-header card-header-blue text-center h4">{{ card.get_type_display}}</div>
                <div class="card-body mt-3 mb-4 card-body-height">
                    <!-- Card image & Data -->
                    <div class="row mt-2">
                        <div class="col-4 d-inline-block">
                            {% if "placeholder" in card.event_image.url %}
                            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                alt="code institute" class="img-fluid img-thumbnail rounded float-start mx-2"
                                width="150" height="150">
                            {% else %}
                            <img src="{{ card.event_image.url }}" alt="card image"
                                class="img-fluid img-thumbnail rounded float-start mx-2" width="150" height="150">
                            {% endif %}
                        </div>
                        <div class="col-8 d-inline-block">
                            <span class="">
                                <h5 class="card-title">{{ card.title }}</h5>
                                <p class="mission my-0 fs-6"> {{ card.mission }}</p>
                                <small class="location my-0"> {{ card.location }}</small>
                            </span>
                        </div>
                    </div>
                    <!-- Card Description -->
                    <div id="description" class="row mt-3">
                        <div class="col">
                            <p class="my-0 mb-4">
                                {{ card.description|safe }} <a href="{% url 'card_single' card.slug %}">Read More</a>
                            </p>
                        </div>
                    </div>
                    <!-- VOTES & PROGRESS BAR -->
                    <div class="text-center">
                        <span class="card d-inline-block">
                            <div class="card-body py-1 px-3 text-center">
                                <span class="card-text">{{ card.number_of_votes }}<br> Votes</span>
                            </div>
                        </span>
                        <span class="d-inline-block px-3 progress-container">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ card.progress }}%"
                                    aria-valuenow="{{ card.progress }}" aria-valuemin="0" aria-valuemax="100">
                                    <span style="padding-left: 10px;">{{ card.progress }}%</span>
                                </div>
                            </div>
                        </span>
                        <small>{{ card.time_left }} days left</small>
                    </div>
                </div>
                <a class="card-footer text-center fs-5" href="{% url 'card_single' card.slug %}">VOTE</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 text-center">
            <a href="{% url 'see_more_community' %}" class="btn btn-light see-more fs-5">See more</a>
        </div>
    </div>
    <div class="row">
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}