{% extends "base.html" %}

{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-0">

    <!-- Call to Action-->
    <div class="card bg-light my-5 py-4 text-center">
        <div class="card-body">
            <p class="m-0">You are in a dedicated page for all cards in <strong>Official</strong></p>
        </div>
    </div>

    <!-- Campaign Row-->
    <div class="row gx-4 gx-lg-5">
        <p class="h1 fairplay-font text-center mb-5">Official</p>

        <!-- Records not found -->
        {% if not see_more_official %}
        <p class="text-center">No records found so far </p>
        {% endif %}

        <!-- Records found -->
        {% for card in see_more_official %}
        {% if card.type == 1 %}
        <div class="col-lg-4 col-md-12 mb-5 col-sm-12">
            <div class="card h-100">
                <div class="card-header card-header-blue text-center h4">{{ card.get_type_display}}</div>
                <div class="card-body card-body-height">
                    <!-- Card image & Data -->
                    <div class="row mt-2">
                        <div class="col-4 d-inline-block">
                            {% if "placeholder" in card.event_image.url %}
                            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                alt="code institute" class="img-fluid img-thumbnail rounded float-start mx-2"
                                width="150" height="150">
                            {% else %}
                            <img src="{{ card.event_image.url }}" alt="card image"
                                class="img-fluid img-thumbnail rounded float-start mx-2" width="150" height="150">
                            {% endif %}
                        </div>
                        <div class="col-8 d-inline-block">
                            <div>
                                <p class="card-title h5">{{ card.title }}</p>
                                <p class="mission my-0 fs-6"> {{ card.mission }}</p>
                                <small class="location my-0"> {{ card.location }}</small>
                            </div>
                        </div>
                    </div>
                    <!-- Card Description -->
                    <div id="description" class="row mt-3">
                        <div class="col">
                            <p class="my-0">
                                {{ card.description|safe }} <a href="{% url 'card_single' card.slug %}">Read More</a>
                            </p>
                        </div>
                    </div>
                    <!-- VOTES & PROGRESS BAR -->
                    <div class="text-center">
                        <span class="card d-inline-block py-3">
                            <span class="card-body">
                                <span class="card-text">{{ card.number_of_votes }} Votes</span>
                            </span>
                        </span>
                        <div class="d-inline-block px-3 progress-container">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ card.progress }}%"
                                    aria-valuenow="{{ card.progress }}" aria-valuemin="0" aria-valuemax="100">
                                    <span >{{ card.progress }}%</span>
                                </div>
                            </div>
                        </div>
                        <small>{{ card.time_left }} days</small>
                    </div>
                </div>
                <a class="card-footer text-center fs-5" href="{% url 'card_single' card.slug %}">VOTE</a>
            </div>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock content %}