{% extends "base.html" %}

{% block title %}
Privacy Policy - Musa
{% endblock %}

{% block content %}
<!-- Page Content-->
<div class="container my-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-header-blue text-center h4">
                    Musa's Privacy Policy
                </div>
                <div class="card-body px-5 py-3">
                    <div class="card-text">
                        <p><strong>Last updated: [Date]</strong></p>

                        <p>At Musa, accessible from [Your Website URL], one of our main priorities is the privacy of our
                            visitors. This Privacy Policy document contains types of information that are collected and
                            recorded by Musa and how we use it.</p>

                        <h2>1. Personal Data</h2>
                        <p>We may collect personal data from users such as name, email address, and other information to
                            enable voting functionality. We use this information to provide services, manage user
                            accounts, and comply with legal requirements.</p>

                        <h2>2. Log Files</h2>
                        <p>Musa follows a standard procedure of using log files. These files log visitors when they
                            visit websites. The information collected may include IP addresses, browser type, Internet
                            Service Provider (ISP), date and time stamps, and more.</p>

                        <h2>3. Cookies and Web Beacons</h2>
                        <p>Like any other website, Musa uses 'cookies'. These cookies are used to store information,
                            such as user preferences, and the pages on the site that the visitor accessed or visited.
                        </p>

                        <h2>4. Third-Party Privacy Policies</h2>
                        <p>Musa's Privacy Policy does not apply to other advertisers or websites. Thus, we advise you to
                            consult the respective Privacy Policies of third-party services for more detailed
                            information.</p>

                        <h2>5. Children's Information</h2>
                        <p>Musa does not knowingly collect any Personal Identifiable Information from children under the
                            age of 13.</p>

                        <h2>6. Consent</h2>
                        <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and
                            Conditions.</p>

                        <h2>7. Changes to This Privacy Policy</h2>
                        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by
                            posting the new Privacy Policy on this page.</p>

                        <h2>8. Contact Us</h2>
                        <p>If you have additional questions or require more information about our Privacy Policy, do not
                            hesitate to contact us at [Your Contact Information].</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}