{% extends "base.html" %}

{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-0">

    <!-- Call to Action-->
    <div class="card bg-light my-5 py-4 text-center">
        <div class="card-body">
            <p class="m-0">You are in a dedicated page for <strong>{{ card.title }}
                </strong>
            </p>
            <small>Created by: {{ card.author }} | Category: {{ card.category }}</small>
        </div>
    </div>

    <!-- Messages -->
    {% if messages %}
    <div class="alert card card-header-blue my-5 py-4 text-center text-white alert-dismissible" role="alert">
        <div class="card-body">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} mb-0" {% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <!-- Campaign Row-->
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-6 mb-5">
            <form method="post">
                {% csrf_token %}
                <div class="card h-100">
                    {% if card.status == 1 or card.status == 3 %}
                    <div class="card-header card-header-green text-center h6">{{ card.get_status_display }}</div>
                    {% elif card.status == 2 %}
                    <div class="card-header bg-danger text-center text-white h6">{{ card.get_status_display }}</div>
                    {% else %}
                    <div class="card-header bg-warning text-center text-white h6">{{ card.get_status_display }}</div>
                    {% endif %}
                    <div class="card-header text-center h4">{{ card.get_type_display}}</div>
                    <div class="card-body card-body-height pb-0">

                        <!-- Card image & Data -->
                        <div class="row mt-2">
                            <div class="col-5 d-inline-block">
                                {% if "placeholder" in card.event_image.url %}
                                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                    alt="code institute" class="img-fluid img-thumbnail rounded float-start mx-2"
                                    width="200" height="200">
                                {% else %}
                                <img src="{{ card.event_image.url }}" alt="card image"
                                    class="img-fluid img-thumbnail rounded float-start mx-2" width="150" height="150">
                                {% endif %}
                            </div>
                            <div class="col-7 d-inline-block">
                                <span class="">
                                    <h5 class="card-title">{{ card.title }}</h5>
                                    <p class="mission my-0 fs-6"> {{ card.mission }}</p>
                                    <small class="location my-0"> {{ card.location }}</small>
                                </span>
                            </div>
                        </div>

                        <!-- Card Description -->
                        <div id="description-single" class="row mt-3">
                            <div class="col">
                                <p class="my-0">
                                    {{ card.description|safe }}
                                </p>
                            </div>
                        </div>

                        <!-- Candidates -->
                        <div class="row">
                            <div class="col">
                                <!--  WINNER & CHALLENGERS -->
                                {% if card.status == 3 %}
                                <!-- WINNER -->
                                <div class="card mt-3">
                                    <div class="card-header card-header-green text-center">
                                        Winner
                                    </div>
                                    <!-- If TIED Winner -->
                                    {% for card_winner in challengers %}
                                    {% if card_winner.vote_count == winner.vote_count %}
                                    <ul class="list-group">
                                        <li class="list-group-item text-center">
                                            {{ card_winner.elected_person__name }}
                                            <strong>with</strong> {{ card_winner.vote_count }} votes
                                            <br>&<br>
                                            {{ winner.elected_person__name }}
                                            <strong>with</strong> {{ winner.vote_count }} votes
                                        </li>
                                    </ul>
                                    {% elif winner %}
                                    <ul class="list-group">
                                        <li class="list-group-item text-center">
                                            {{ winner.elected_person__name }} <strong>with</strong>
                                            {{ winner.vote_count }} votes
                                        </li>
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                </div>

                                <!-- CHALLENGERS -->
                                <div class="card mt-4">
                                    <div class="card-header card-header-blue text-center text-white">
                                        Challengers
                                    </div>
                                    {% for challenger in challengers %}
                                    <ul class="list-group">

                                        <!-- If TIED Results -->
                                        {% if challenger.vote_count == winner.vote_count %}
                                        <li class="list-group-item disabled text-center" aria-disabled="true">
                                            <p class="text-danger text-center">Please consider repeating the event.<br>
                                                The following candidates achieved the same results:
                                            </p>
                                            {{ challenger.elected_person__name }}
                                            <strong>with</strong> {{ challenger.vote_count }} votes
                                            <br>&<br>
                                            {{ winner.elected_person__name }}
                                            <strong>with</strong> {{ winner.vote_count }} votes
                                        </li>
                                        {% else %}

                                        <!-- All Challengers -->
                                        <li class="list-group-item">{{ challenger.elected_person__name }}
                                            <strong>with</strong>
                                            {{ challenger.vote_count }} votes
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endfor %}
                                </div>
                                {% endif%}
                                {% if card.status != 3 %}
                                <div class="card mt-3">
                                    {% if not has_voted %}
                                    <div class="card-header">
                                        <h6 class="text-center mb-0">CANDIDATES</h6>
                                    </div>
                                    {% elif has_voted %}
                                    <div class="card-header card-header-red">
                                        <h6 class="text-center mb-0">VOTED</h6>
                                    </div>
                                    {% endif %}

                                    {% if user_authenticated and request.user.verified and not has_voted and card.status != 3 %}
                                    <div class="card-body">
                                        {% for candidate in candidates %}
                                        <label>
                                            <input type="radio" name="elected_person" value="{{ candidate.id }}">
                                            {{ candidate.name }}
                                        </label><br>
                                        {% endfor %}

                                        {% elif has_voted %}
                                        <p class="text-center my-3">You have already voted for this card.<br>Thank you
                                            for
                                            participating!</p>
                                        {% elif not request.user.verified %}
                                        <p class="text-center my-3">You need to <a
                                                href="{% url 'account_login' %}">Verify</a> your account to vote.</p>
                                        {% elif not user_authenticated %}
                                        <p class="text-center my-3">You need to <a href="{% url 'account_login' %}">log
                                                in</a> to vote.</p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>

                            <!-- VOTES & PROGRESS BAR -->
                            <div class="text-center my-4">
                                <span class="card d-inline-block">
                                    <div class="card-body py-1 px-3 text-center">
                                        <span class="card-text">{{ card.number_of_votes }}<br> Votes</span>
                                    </div>
                                </span>
                                <span class="d-inline-block px-3 progress-container">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ card.progress }}%"
                                            aria-valuenow="{{ card.progress }}" aria-valuemin="0" aria-valuemax="100">
                                            <span style="padding-left: 10px;">{{ card.progress }}%</span>
                                        </div>
                                    </div>
                                </span>
                                <small>{{ card.time_left }} days left</small>
                            </div>
                        </div>
                    </div>
                    {% if not has_voted and request.user.verified and card.status == 1 %}
                    <input type="submit" value="VOTE" class="card-footer text-center fs-5"></input>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}