{% extends "base.html" %}
{% block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid p-4 pt-0">
            <h1 class="mt-4">All Events</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">All events you've created in Musa</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Admin Created Events
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Created On</th>
                                <th>Expire On</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Created On</th>
                                <th>Expire On</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for event in user_all_events.card_author.all %}
                            <tr>
                                <td>{{ event.title }}</td>
                                <td>
                                    <p class="text-success my-0 py-0 fw-semibold text-center">
                                        {{ event.author }}
                                    </p>
                                </td>
                                <td>{{ event.category.category_name }}</td>
                                {% if event.status == 1 %}
                                <td>
                                    <p class="text-success my-0 py-0">
                                        <strong>
                                            {{ event.get_status_display }}
                                        </strong>
                                    </p>
                                </td>
                                {% elif event.status == 2%}
                                <td>
                                    <p class="text-danger my-0 py-0">
                                        <strong>
                                            {{ event.get_status_display }}
                                        </strong>
                                    </p>
                                </td>
                                {% else %}
                                <td>
                                    <p class="text-primary my-0 py-0">
                                        <strong>
                                            {{ event.get_status_display }}
                                        </strong>
                                    </p>
                                </td>
                                {% endif %}
                                <td>{{ event.location }}</td>
                                <td>{{ event.created_on }}</td>
                                <td>{{ event.expire }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}