{% extends "backend/user-dashboard/base.html" %}
{% block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid p-4 pt-0">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">My Events</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'user_all_events' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">My Votes</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">My Badges</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">My Settings</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'user_settings' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Overview of the events you've created
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Created on</th>
                                <th>Expire on</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Created on</th>
                                <th>Expire on</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for event in user_dashboard.card_author.all %}
                            <tr>
                                <td>{{ event.title }}</td>
                                <td>{{ event.author }}</td>
                                <td>{{ event.category.category_name }}</td>
                                <td>{{ event.get_status_display }}</td>
                                <td>{{ event.location }}</td>
                                <td>{{ event.created_on }}</td>
                                {% if event.expire|date:"Y-m-d" == current_date %}
                                <td>{{ event.expire }}
                                    <small class="text-warning fw-semibold">(Today)</small>
                                </td>
                                {% elif event.expire|date:"Y-m-d" < current_date %}
                                <td>{{ event.expire }}
                                    <small class="text-danger fw-semibold">(Expired)</small>
                                </td>
                                {% else %}
                                <td>{{ event.expire }}
                                    <small class="text-success fw-semibold">(Active)</small>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}