{% extends "base.html" %}
{% load i18n %}
{% block content%}

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{% url 'user_dashboard' %}">Musa</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'user_settings'%}">Settings</a></li>

                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="{% url 'user_dashboard' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Event Management
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">Create Event</a>
                                <a class="nav-link" href="layout-static.html">My Events</a>
                                <a class="nav-link" href="layout-sidenav-light.html">My Votes</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Verification
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    KYC
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">Badges</a>
                                        <a class="nav-link" href="register.html">Email</a>
                                        <a class="nav-link" href="password.html">KYC (coming soon)</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapsePrivacy" aria-expanded="false" aria-controls="collapsePrivacy">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Anonymity
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePrivacy" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">My Privacy</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRole"
                            aria-expanded="false" aria-controls="collapseRole">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Role
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseRole" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">My Role</a>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Stats</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Charts
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tables
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as: <strong>{{ user_settings.username }}</strong></div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-5">
                    <h1 class="mt-4">User Settings</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Update your information or delete your account</li>
                    </ol>

                    <form class="row g-3 needs-validation" method="POST" action="{% url 'user_settings' %}" novalidate>
                        {% csrf_token %}
                        {% if user_settings.role == 0 %}
                        <div class="col-md-4">
                            <label for="validationCustom01" class="form-label">First name</label>
                            <input type="text" class="form-control" id="validationCustom01"
                                value="{{ user_settings.first_name}}" name="first_name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom02" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="validationCustom02"
                                value="{{ user_settings.last_name}}" name="last_name" required>

                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        {% else %}
                        <div class="col-md-4">
                            <label for="validationCustom01" class="form-label">First name</label>
                            <input type="text" class="form-control bg-light bg-gradient" id="validationCustom01"
                                value="{{ user_settings.first_name}}" name="first_name" readonly required>

                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom02" class="form-label">Last name</label>
                            <input type="text" class="form-control bg-light bg-gradient" id="validationCustom02"
                                value="{{ user_settings.last_name}}" name="last_name" readonly required>

                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        {% endif %}
                        <div class="col-md-4">
                            <label for="validationCustomUsername" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="text" value="{{ user_settings.username}}"
                                    class="form-control bg-light bg-gradient" id="validationCustomUsername"
                                    name="username" aria-describedby="inputGroupPrepend" readonly required>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom03" class="form-label">Email</label>
                            <input type="email" value="{{ user_settings.email}}"
                                class="form-control {% if form.errors.email %}is-invalid{% endif %}"
                                id="validationCustom03" name="email" required>
                            {% if form.errors.email %}
                            <div class="invalid-feedback">
                                {% for error in form.errors.email %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="valid-feedback">
                                {% trans "Looks good!" %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom04" class="form-label">Role</label>
                            <input type="text" value="{{ user_settings.get_role_display}}" name="role"
                                class="form-control bg-light bg-gradient" id="validationCustom04" required readonly>


                            <div class="invalid-feedback">
                                Please select a valid role.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom05" class="form-label">Verified</label>
                            <input type="text"
                                value="{% if user_settings.verified == 1 %} Verified {% else %} Not verified {% endif %}"
                                name="verified" class="form-control bg-light bg-gradient" id="validationCustom05"
                                required readonly>

                            <div class="invalid-feedback">
                                Please provide a valid badge.
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary" type="submit">Update Account</button>
                        </div>
                        <div class="col-12 text-center">
                            <a class="btn btn-primary" href="{% url 'user_change' %}">Change Password</a>
                        </div>
                        {% if user_settings.user_votes.all %}
                        <div class="col-12 text-center">
                            <p>Since you have participated in some event you cannot yet delete your account.<br>
                                Wait until the event is deleted or contact the support team.
                            </p>
                            <ul class="list-group d-inline-block">
                                <li class="list-group-item bg-dark text-white" aria-current="true">Account Activity</li>
                                {% for voter in user_settings.voter_record.all %}
                                <li class="list-group-item">Voted for <strong>{{ voter.vote_card }} </strong>at
                                    {{ voter.timestamp }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <div class="col-12 text-center">
                            <a class="btn btn-danger" href="{% url 'user_delete' %}">Delete Account</a>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </main>
        </div>
    </div>
    {% endblock %}