{% extends 'base.html' %}
{% load static %}
{% block content%}
<div id="layoutSidenav_content">
    <main>
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">Congratulations your event has been created!</h3>
                            <div class="col-12 text-center">
                                <a href="{% url 'account_login' %}" class="btn btn-success">Go back to
                                    Dashboard</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content%}