{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">{% trans "Delete Account" %}</h3>
                        </div>
                        <div class="card-body">
                            <p>Are you sure you want to delete your account? This action cannot be undone.</p>
                            <ul class="list-group my-4">
                                <li class="list-group-item text-center text-white bg-dark" aria-current="true">
                                    IMPORTANT</li>
                                <li class="list-group-item">The User will be deleted</li>
                                <li class="list-group-item">Events will be deleted if any</li>
                                <li class="list-group-item">Records will be deleted if any</li>
                                <li class="list-group-item">Any other related data will be deleted if any</li>
                            </ul>
                            <form method="post">
                                {% csrf_token %}
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    <a href="{% url 'user_settings' %}" class="btn btn-success">Go back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}